
@primary: #CF246A;
@topic-header: #323a45;

/* -------------------------------------- PAGINACION ----------------------------------------*/
//paginacion nueva de exodo
.slynav { margin: 5px auto 5px auto; }

.slynav button { background: transparent; border: 0; color: black; opacity: .5;}
.slynav button a { color:black;}
//.slynav button:hover, .slynav button:hover { opacity: 1; }
//.slynav button:disabled, .slynav button:disabled { opacity: .2; }

.slynav .forward, .slynav .backward { float: left;

	//width: 5%;
	height: 25px;
	line-height: 20px;
	font-size: 20px;
	padding: 2px 0px 3px 0px;
 }
.slynav .forward { float: right;
}

.slynav .frame { margin: 0 auto; width: 100%; height: 50px; line-height: 50px; overflow: hidden; text-shadow: none; }
.slynav .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 15px; }
.slynav .frame ul li { float: left; width: 50px; height: 100%; margin: 0 1px 0 0; background: #eee; text-align: center; cursor: pointer; }
.slynav .frame ul li.active { color: #fff; background: @primary; }
.slynav .frame ul li a { line-height: 25px; color: @topic-header; }
.slynav .frame ul li.active a { color: #fff; }
.slynav .frame ul li a:hover { color: @topic-header; }
.slynav .frame ul li.active a:hover { color: #fff }

.slynav .scrollbar { margin: 0 auto 2px; width: auto; height: 5px; line-height: 0; }
.slynav .scrollbar .handle { width: 100px; height: 100%; background: @topic-header; cursor: pointer; }
.slynav .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 50px; }


.slynav .framesidebar { height: 65px; line-height: 65px; overflow: inherit; text-align: center;}
.slynav .framesidebar ul { display: inline-block; }
.slynav .framesidebar ul li { width: 65px; }
/* -------------------------------------- HILOS ----------------------------------------*/

.category {

	.topic-list {
		margin-top: 0px;
	}

	> ul {

		> li {
			padding-top: 0px;
			padding-bottom: 0px;
			min-height: 52px;
			border-top: 1px solid #ddd  !important;
			border-left: 1px solid #ddd ;
			border-right: 1px solid #ddd ;
			list-style: none;
			background-color: #f0f0f0; //cambiar

			.teaser {
				//width: 30%;
				.card {
					height: 45px;
					padding-top: 3px;

					.post-content {
						font-size:11px;
					}
				}
			}

			.content {

				padding-left: 15px;
				padding-right: 10px;

				h2 {
					margin-left: 55px;
					line-height: 15px;
					padding-top: 5px;
					padding-bottom: 5px;
					a {
						font-size: 13px;
					}
				}

				.avatar {
				padding-top: 5px;

				.user-icon,.user-img {
					width: 40px;
					height: 40px;
					line-height: 40px;
					margin-right: 0px;
					}
				}

				.icon {
					min-width: 40px;
					min-height: 40px;
					margin-top: 3px
				}
			}
			&:last-child {
				border-bottom: 1px solid #ddd !important;
			}
		}
	}


	.category-bar {
		background: @topic-header;
		display: block;
		line-height: 30px;
		width: auto;
		margin-left: -15px;
		margin-right: -15px;

		p {
			color: #fff; //cambiar
			margin: 0;
			text-align: center;
			font-size: 15px;
		}
	}


	.stats {
		line-height: 15px;
		padding-top: 5px;
		margin-top: 5px;
		font-size: 15px;
		width: 5%;
		padding-right: 2px;
		padding-left: 2px;
		small {
			font-size: 12px;
		}
	}

}
